{% load static %}
<div class="base-nav" style="  background: linear-gradient(rgba(212, 36, 5, 0.986), rgba(134, 60, 8, 0.9756));">
    <strong style="position: absolute; left: 50%; transform: translate(-50%, -10%); color: white;" class="fw-bolder mt-5"><h1>Over 10k opening jobs </h1><br>
        <h5>If you are looking for free HTML templates, you may visit Tooplate website. If you need a collection of free templates, you can visit Too CSS website.</h5>
    </strong>
    
    
    <img src="{% static 'images/people-working-as-team-company.jpg' %}" alt="" style="width: 100%;position: relative;opacity: 0.3;height:30vh;object-fit:cover">
    
</div>
<footer class="site-footer">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-6 col-12 mb-3">
                <div class="d-flex align-items-center mb-4">
                    <img src={% static "images/logo.png" %} class="img-fluid logo-image">

                    <div class="d-flex flex-column">
                        <strong class="logo-text">CareerSwift</strong>
                        <small class="logo-slogan">Online Job Portal</small>
                    </div>
                </div>  

                <p class="mb-2">
                    <i class="custom-icon bi-globe me-1"></i>

                    <a href="#" class="site-footer-link">
                        www.jobbportal.com
                    </a>
                </p>

                <p class="mb-2">
                    <i class="custom-icon bi-telephone me-1"></i>

                    <a href="tel: 305-240-9671" class="site-footer-link">
                        305-240-9671
                    </a>
                </p>

                <p>
                    <i class="custom-icon bi-envelope me-1"></i>

                    <a href="mailto:info@yourgmail.com" class="site-footer-link">
                        info@jobportal.co
                    </a>
                </p>

            </div>

            <div class="col-lg-2 col-md-3 col-6 ms-lg-auto">
                <h6 class="site-footer-title">Company</h6>

                <ul class="footer-menu">
                    <li class="footer-menu-item"><a href="#" class="footer-menu-link">About</a></li>

                    <li class="footer-menu-item"><a href="#" class="footer-menu-link">Blog</a></li>

                    <li class="footer-menu-item"><a href="#" class="footer-menu-link">Jobs</a></li>

                    <li class="footer-menu-item"><a href="#" class="footer-menu-link">Contact</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-3 col-6">
                <h6 class="site-footer-title">Resources</h6>

                <ul class="footer-menu">
                    <li class="footer-menu-item"><a href="#" class="footer-menu-link">Guide</a></li>

                    <li class="footer-menu-item"><a href="#" class="footer-menu-link">How it works</a></li>

                    <li class="footer-menu-item"><a href="#" class="footer-menu-link">Salary Tool</a></li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-8 col-12 mt-3 mt-lg-0">
                <h6 class="site-footer-title">Newsletter</h6>

                <form class="custom-form newsletter-form" action="#" method="post" role="form">
                    <h6 class="site-footer-title">Get notified about job news</h6>
                
                    <div class="input-group">
                        <input type="email" name="newsletter-name" id="newsletter-name" class="form-control" placeholder="Your email address" required>
                
                        <button type="submit" class="btn btn-primary">
                            <i class="bi bi-envelope"></i> Subscribe
                        </button>
                    </div>
                </form>
                
            </div>

        </div>
    </div>

    <div class="site-footer-bottom">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-12 d-flex align-items-center">
                    <p class="copyright-text">Copyright © Career Swift 2048</p>

                    <ul class="footer-menu d-flex">
                        <li class="footer-menu-item"><a href="#" class="footer-menu-link">Privacy Policy</a></li>

                        <li class="footer-menu-item"><a href="#" class="footer-menu-link">Terms</a></li>
                    </ul>
                </div>

                <div class="col-lg-5 col-12 mt-2 mt-lg-0">
                    <ul class="social-icon" >
                        <li class="social-icon-item">
                          <img src="{% static "images/logos/google.png" %}" alt="">
                        </li>

                        <li class="social-icon-item">
                            <img src="{% static "images/logos/twitter.png" %}" alt=""> <img src="{% static "images/logos/spotify.png" %}" alt="">
                        </li>

                        <li class="social-icon-item">
                            <img src="{% static "images/logos/microsoft.png" %}" alt=""> 
                        </li>

                        <li class="social-icon-item">
                            <img src="{% static "images/logos/paypal.png" %}" alt=""> 
                        </li>

                        <li class="social-icon-item">
                            <img src="{% static "images/logos/apple.png" %}" alt=""> 
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-12 mt-2 d-flex align-items-center mt-lg-0">
                    <p>Design: <a class="sponsored-link" rel="sponsored" href="https://www.tooplate.com" target="_blank">CareerSwift</a></p>
                </div>

      

            </div>
        </div>
    </div>
</footer>